@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2015-02-06 09:50:48
 * @version $Id$
 */
 body{height: 100%;	font-family: tahoma,"微软雅黑","microsoft yahei", "\5FAE\8F6F\96C5\9ED1";
 }
 a{text-decoration: none;}
 a:hover{text-decoration: none;}
 .pos-rel{position: relative;display: block;}

 .pos-rel .iconfont{
 	position: absolute;
 }
 .pos-rel .icontext{
 	position: absolute;

 	font-family: tahoma,"微软雅黑","microsoft yahei", "\5FAE\8F6F\96C5\9ED1";
 }

 .index-html-bg{
 	background:url(../images/bg.png) #182447 center bottom no-repeat;
 	background-size: 100%;
 }
.ny-html-bg{
	background:url(../images/nybg.png) #c8cbcd center top repeat-y;
 	background-size: 100%;
}
 /*首页banner*/
.index-banner{
   position:relative;

   clear: both;
   overflow: hidden;

   margin: 7px 7px 0;
}
.index-banner ul {
	overflow: hidden;

	width: 100%;
}
.index-banner .iconlist{
   position: absolute;
   z-index: 2000;
   bottom: 10px;

   overflow: hidden;

   width: 100%;
   height: 10px;

   text-align: center;
}
.index-banner li {
	position: absolute;

	display:block;

	width: 100%;
	height: auto;
	padding:0;

	-webkit-transition: .2s -webkit-transform ease-in-out;
	-webkit-transform: translateX(0%);
	text-align:center;

	font-size:0px;}
.index-banner li.next{
	z-index: -1;

	-webkit-transform: translateX(100%);
}
.index-banner li.pre{
	-webkit-transform: translateX(-100%);
}
.index-banner li a{
	display:block;

	margin:0;
	padding:0;
}
.index-banner li a img{
	width: 100%;
}
.index-banner .iconlist-item{display: inline-block;overflow: hidden;width: 15px;height: 5px;margin-right: 2px;background-color: #fff;}
.index-banner .iconlist-item.cur{background-color: #1077be;}
/*一些页面宽度*/
.ui-grid{
	clear: both;

    margin: 7px 7px 0;
    padding-bottom: 7px;
}
.ui-grid a{color: #fff;}
.ui-grid-34{
	float: left;

	width: 34%;
	height: 314px;
}
.ui-grid-66{
	float: right;

	width: 66%;
	height: 314px;
}


.index-about{
    height: 150px;
	margin-right: 7px;

    color: #fff;
    background:url(../images/indexabout.png) center repeat;
}
.index-about .iconfont{
	top: 20px;
	left: 50%;

	width: 48px;
	height: 70px;
	margin-left: -20px;

	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.index-about .icontext{
   right: 10px;
   bottom: 5px;

   display: block;

   width: 100%;

   text-align: right;

   font-size: 14px;
}

.index-map{
    height: 75px;
	margin-top: 7px;
	margin-right: 7px;

    text-align: center;

    color: #fff;
    background:url(../images/indexmap.png) center repeat;
}
.index-map .iconfont{
	left: 50%;

	margin-left: -18px;

	font-size:36px;
}
.index-map .icontext{
   bottom: 5px;

   display: block;

   width: 100%;

   text-align: center;

   font-size: 14px;
}

.index-phone{
    height: 75px;
	margin-top: 7px;
	margin-right: 7px;

    color: #fff;
     background:url(../images/indexphone.png) center repeat;
}
.index-phone .iconfont{
	top: 0;
	right: 10px;

	font-size:36px;
}
.index-phone .icontext{
   bottom: 5px;

   display: block;

   width: 100%;

   text-align: left;
   text-indent: 10px;

   font-size: 14px;
}

.index-top{
	height: 110px;
}
.index-top-item{
	float: left;

	width: 50%;
	height: 110px;
}
.index-top-item-one{
   height: 110px;
   margin-right: 4px;

   color: #fff;
   background:url(../images/indextopone.png) center repeat;
}

.index-top-item-one .iconfont{
	right: 10px;
	bottom: 0px;

	font-size:40px;
}
.index-top-item-one .icontext{
   top: 5px;
   left: 0px;

   display: block;

   width: 100%;

   text-align: left;
   text-indent: 10px;

   font-size: 14px;
}


.index-top-item-two{
   height: 110px;
   margin-left: 3px;

   text-align: center;

   color: #fff;
   background:url(../images/indextoptwo.png) center repeat;
}

.index-top-item-two .iconfont{
	top:10px;
	left: 50%;

	margin-left: -20px;

	font-size:40px;
}
.index-top-item-two .icontext{
   top: 60px;
   left: 0px;

   display: block;

   width: 100%;

   text-align: center;

   font-size: 14px;
}


.index-tsyw{
	height: 85px;
	margin-top: 7px;

	color: #fff;
    background:url(../images/indextsyw.png) center repeat;
}
.index-tsyw .iconfont{
	top:15px;
	left: 51%;

	font-size:40px;
}
.index-tsyw .icontext{
   top: 35px;
   right: 49%;

   display: block;

   width: 51%;

   text-align: right;

   font-size: 14px;
}



.index-qyyw{
	width: 100%;
	height: 105px;
	margin-top: 7px;

	color: #fff;
	background:url(../images/indexqyyw.png) center repeat;
}
.index-qyyw .iconfont{
	top:10px;
	left: 50%;

	margin-left: -35px;

	font-size:65px;
}
.index-qyyw .icontext{
   top: 5px;
   right: 10px;

   display: block;

   width: 50%;

   text-align: right;

   font-size: 14px;
}



.details{padding: 10px 15px;}
.details-title{color: #ff6012;font-size: 14px;font-weight: bold;line-height: 30px;}
.details-content{
	color:#666;

	font-size: 12px; line-height: 22px;
}
.details-other-menu{
	height: 50px;
	margin: 15px;
	padding:5px;

	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	background-color: #fff;
}
.details-other-menu-item{
	float: left;

	width: 33%;
	height:50px;

	text-align: center;
}
.details-other-menu-item:nth-child(2){width:34%}
.details-other-menu-item .iconfont{clear: both;color: #929292;font-size: 30px;line-height: 30px;}
.details-other-menu-item .icontext{clear: both;color: #000;font-size: 12px;line-height: 20px;}
.details-other-menu-item-content{width: 100%;height: 100%;border-right:1px solid  #d9d9d9;border-left:1px solid  #d9d9d9;}

.menu-list{padding: 10px;}
.menu-list-item{
	height: 55px;
	margin-bottom: 10px;
}
.menu-list-item-icon{float: left;width: 65px;height: 55px;}

.menu-list-item-content{height: 55px;padding-left: 65px;}
.menu-list-item-content-cont{
    height: 35px;
    padding: 10px;

	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;

    font-size: 18px;
    line-height: 35px;
}
.menu-list-item-content-cont  i{font-size: 14px;}

 a .menu-list-item-content-cont{color: #666;}


.ui-tiptext-container {
	position: relative;

	zoom: 1;

	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



/* arrow */
.ui-tiptext-arrowright, .ui-tiptext-arrowright em, .ui-tiptext-arrowright span
{
    position: absolute;

    font-family: "SimSun";
    font-size: 14px;
    font-style: normal;
    line-height: 1;
}
.ui-tiptext-arrowright{
    width: 16px;
    height: 10px;
}
.ui-tiptext-arrowright{
    top: 22px;
    right:-1px;
}
.ui-tiptext-arrowright em {
    top: -1px;
}

.ui-tiptext-container-message {
	width: 55px;
	height: 55px;

	text-align: center;
}
.ui-tiptext-container-message .iconfont{color: #fff;font-size: 40px; line-height: 55px;}
.ui-tiptext-container-message .ui-tiptext-arrow em {
    color:#fff;
}
.ui-tiptext-container-message .ui-tiptext-arrow span {
    color:#fff;
}
.ui-tiptext {
	position: relative;

	zoom: 1;

	margin: 0;

	color: #4D4D4D;

	font-size: 12px;
}
.ui-tiptext-message .ui-tiptext-icon {
    color: #68b5e2;
}


.org-cont.ui-tiptext-container-message{
	background-color: #ffa155;
}
.org-cont.ui-tiptext-container-message .ui-tiptext-arrow em {
    color:#ffa155;
}
.org-cont.ui-tiptext-container-message .ui-tiptext-arrow span {
    color:#ffa155;
}

.blue-cont.ui-tiptext-container-message{
	background-color: #55c9ff;
}
.blue-cont.ui-tiptext-container-message .ui-tiptext-arrow em {
    color:#55c9ff;
}
.blue-cont.ui-tiptext-container-message .ui-tiptext-arrow span {
    color:#55c9ff;
}

.red-cont.ui-tiptext-container-message{
	background-color: #ed7dbc;
}
.red-cont.ui-tiptext-container-message .ui-tiptext-arrow em {
    color:#ed7dbc;
}
.red-cont.ui-tiptext-container-message .ui-tiptext-arrow span {
    color:#ed7dbc;
}


.violet-cont.ui-tiptext-container-message{
	background-color: #ba9ae2;
}
.violet-cont.ui-tiptext-container-message .ui-tiptext-arrow em {
    color:#ba9ae2;
}
.violet-cont.ui-tiptext-container-message .ui-tiptext-arrow span {
    color:#ba9ae2;
}


.green-cont.ui-tiptext-container-message{
	background-color: #6ac78d;
}
.green-cont.ui-tiptext-container-message .ui-tiptext-arrow em {
    color:#6ac78d;
}
.green-cont.ui-tiptext-container-message .ui-tiptext-arrow span {
    color:#6ac78d;
}